dist: focal

language: java

jdk:
- openjdk8

branches:
  only:
    - master
    - stable

addons:
  postgresql: 12
  ssh_known_hosts:
  - ftp.interlis.ch
  apt:
    packages:
    - postgresql-postgis

env:
  global:
  - PGPORT=5433
  - PGUSER=postgres

install: true
  
before_script:
    - # show port used by different installed versions
    - grep port /etc/postgresql/*/main/postgresql.conf
    - # enable same access rules in new installed version 12 as in pre-installed version 13
    - sudo cp /etc/postgresql/13/main/pg_hba.conf /etc/postgresql/12/main/pg_hba.conf
    - # restart postgresql because of changes to pg_hba.conf
    - sudo service postgresql stop
    - sudo service postgresql start 12
    - psql -c 'create database ehisqlgen;' -U $PGUSER
    - psql -c 'select version();' -d ehisqlgen -U $PGUSER
    - psql -c 'create extension postgis;' -d ehisqlgen -U $PGUSER
    - psql -c 'create extension "uuid-ossp";' -d ehisqlgen -U $PGUSER
    - psql -c 'select postgis_full_version();' -d ehisqlgen -U $PGUSER
  
script: 
  - ./gradlew  -Ddburl=jdbc:postgresql://127.0.0.1:$PGPORT/ehisqlgen -Ddbusr=$PGUSER build 
after_failure:
  - cat  build/junitreport/TEST-*.txt
deploy:
  - provider: script
    skip_cleanup: true
    script: ./gradlew -Drepos_pwd=${repos_pwd} -Drepos_usr=jql_jars-INTE upload
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: ./gradlew -Drepos_pwd=${repos_pwd} -Drepos_usr=jql_jars-INTE '-Drelease=' upload
    on:
      branch: stable
