language: java

jdk:
- openjdk8

branches:
  only:
    - master
    - stable

addons:
  postgresql: "9.6"
  apt:
    packages:
    - postgresql-9.6-postgis-2.4

install: true
  
before_script:
    - psql -c 'create database ehisqlgen;' -U postgres
    - psql -c 'select version();' -d ehisqlgen -U postgres
    - psql -c 'create extension postgis;' -d ehisqlgen -U postgres
    - psql -c 'create extension "uuid-ossp";' -d ehisqlgen -U postgres
    - psql -c 'select postgis_full_version();' -d ehisqlgen -U postgres
  
script: 
  - gradle  -Ddburl=jdbc:postgresql:ehisqlgen -Ddbusr=postgres build 
after_failure:
  - cat  build/junitreport/TEST-*.txt
deploy:
  - provider: script
    skip_cleanup: true
    script: gradle -Drepos_pwd=${repos_pwd} -Drepos_usr=jql_jars-INTE upload
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: gradle -Drepos_pwd=${repos_pwd} -Drepos_usr=jql_jars-INTE '-Drelease=' upload
    on:
      branch: stable
